$yellowColor: #EE964B;
$darkMain: #2A2B2E;
$white: #FFFA;
$darkArsenic: #403F4c;
$darkMetal: #2C2B3C;

.RecordPlayer {
  position: relative;
  &__player {
    width: 640px;
    height: 640px;
    //background-color: #2A2B2E;
    border-radius: 4px;
    display: flex;
  }
}

.RecordPlayerPlatform {
  width: 90%;
  height: 90%;
  background-color: #EE964B;
  border-radius: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  &__disc {
    //position: absolute;
    background-position: center center;
    width: 96%;
    height: 96%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 12px 8px rgba(30, 30, 30, .3);
    animation: spin 6s infinite linear;
    &__hole {
      background-color: #EE964B;
      width: 120px;
      height: 120px;
      border-radius: 50%;
      box-shadow: inset 0 2px 12px 8px rgba(30, 30, 30, .5);
    }
  }
}

.RecordPlayerCartrige {
  position: absolute;
  top: 120px;
  left: 35px;
  filter: drop-shadow(-5px 8px 2px rgba(20, 20, 20, .7));
  animation: scale 2s infinite linear;
  &__line {
    width: 450px;
    height: 40px;
    background-color: $darkArsenic;
    border: 2px solid $white;
    border-radius: 5px;
    transform: rotate(20deg);
    display: flex;
    justify-content: center;
    align-items: center;
    &__block {}
    &__line {
      width: 95%;
      height: 50%;
      border-radius: 15px;
      background-color: #222;
    }
  }
  &__platform {
    width: 60px;
    height: 60px;
    background-color: $darkMetal;
    &__needle {}
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes scale {
  0% {
    transform: scale(.95);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(.95);
  }
}